body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* First Section*/
.first {
    background-color: #1F2937;
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin: 0%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    column-gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.first_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.first_content .text {
    width: 50%;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0%;
}

.text p {
    margin-top: 0%;
    font-size: 18px;
    color: #E5E7EB;
}

.text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 7px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

/* Second Section*/

.second {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    margin: 0%;
}

.second_title h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 40px;
}

.second_img img{
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 0%;
    margin-top: 18px;
}

.second_text {
    display: flex;
    align-items: center;
}

.second_text p {
    text-align: center;
    width: 140px;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 0%;
    font-size: 15px;
    font-weight: 100;
    color: #757679;
}

/* Third Section */

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 250px;
    padding-left: 250px;
}

.quote {
    width: 830px;
    align-self: center;
}

.quote h2{
    font-size: 36px;
    font-weight: 100;
    transform: scale(1, 1.05);
    font-style:italic;
    color: #1F2937;
    opacity: 80%;
    margin: 0%;
}

.by_line {
    align-self: flex-end;
}

.by_line p {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10px;
    align-self: flex-end;
}

/* Fourth Section */

.fourth {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.fourth .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    background-color: #3882F6;
    border-radius: 6px;
    margin: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
}

.fourth_text h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.fourth_text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0%;
    padding-top: 5px;
}

.fourth_button button {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid white 2px;
    border-radius: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer_text p {
    color: #E5E7EB;
    font-size: 18px;
}