body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #1F2937;
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin: 0%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    column-gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.first_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_content .text {
    width: 50%;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0%;
}

.text p {
    margin-top: 0%;
    font-size: 18px;
    color: #E5E7EB;
}

.text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 7px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}